body {
    margin: 0;
    background: var(--fundo);
    width: 100%;
}

html{
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 15px;
    background: var(--azulclaro);
    border-left: 1px solid black;
}

body::-webkit-scrollbar-thumb {
    background: var(--branco);
    border: 1px solid black;
}
